#!/bin/bash
# The uncommented variables 
# are the bare minimum required to deploy this CF template

# AWS Keys and Region
export AWS_ACCESS_KEY_ID=
export AWS_SECRET_ACCESS_KEY=
export AWS_DEFAULT_REGION=eu-west-1

# DNS Domain name which is also used as the Stack name
export HOST=elasticsearch
export DNS_DOMAIN=

export KEY_NAME=elasticsearch

# The port on the endpoint to test
export PORT=9200

# The VPC ID of the VPC
export VPC_ID=

# An email address for CloudFormation notifications
export EMAIL=

# The parameter values passed to the aws clouformation create command 
PARAMETERS=ParameterKey=SSHLocation,ParameterValue="$IPADDRESS/32"
PARAMETERS="${PARAMETERS} ParameterKey=KeyName,ParameterValue=$KEY_NAME"
PARAMETERS="${PARAMETERS} ParameterKey=DNSDomain,ParameterValue=$DNS_DOMAIN"
PARAMETERS="${PARAMETERS} ParameterKey=NotificationEmail,ParameterValue=$EMAIL"
PARAMETERS="${PARAMETERS} ParameterKey=VpcId,ParameterValue=$VPC_ID"